nav{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav a{
    color:white;
    text-decoration: none;
    margin: 0 10px;
}

:root{
    --color-principal: #4CAF50;
}