<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Mi pagina web</h1>
        <nav>
            <a href="main.html">inicio</a>
            <a href="pagina2.html">pagina 2</a>
            <a href="">footer</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sobre mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusantium dolorum natus voluptates quasi voluptatem perferendis ipsam corporis facilis. Sapiente dolorum tempora eos eligendi commodi eveniet at est id vel!</p>
        </section>
    </main>
    <footer>
        <p> 2025 Nahuel Campo </p>
        <a href="facebook.com">Facebook</a>
    </footer>   
</body>

</html>